<?xml version="1.0"?>
<configuration>
    
  <system.web>
      <httpHandlers>
        <add verb="*" path="*.asp" type="System.Web.UI.PageHandlerFactory" />
        </httpHandlers>
    
      
    
    </system.web>

  <system.webServer>
    
    <handlers>
      <add name="*.asp_*" path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="test" path="*.asp" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
    </handlers>
    
    
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>
