<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <!--<add path="*" verb="*" type="System.Web.HttpForbiddenHandler" validate="true"/>-->
        <!--***-vsdoc用来作本地jquery智能感知提示使用，当真正在浏览器上访问页面时，禁止响应到浏览器，由原来页面的js提供jquery.js-->
        <add path="jquery-1.7.1-vsdoc.js" verb="*" type="System.Web.HttpForbiddenHandler" validate="true"/>
      </httpHandlers>      
    </system.web>

</configuration>
