<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <!--<add path="*" verb="*" type="System.Web.HttpForbiddenHandler" validate="true"/>-->
        <add path="jquery-1.7.1-vsdoc.js" verb="*" type="System.Web.HttpForbiddenHandler" validate="true"/>
      </httpHandlers>
      
    </system.web>

  

  <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="SharpJQueryVS.demo.Cause说明AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="SharpJQueryVS.demo.Cause说明">
                <endpoint address="" behaviorConfiguration="SharpJQueryVS.demo.Cause说明AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="SharpJQueryVS.demo.Cause说明" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
